.nav {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: transparent;
    z-index: 999;
}

.nav__logo {
    position: relative;
    width: 80px;
    object-fit: contain;
    margin-left: 30px;
}

.nav__avatar {
    position: relative;
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 30px;
    cursor: pointer;
}